body{
    background-color:#7C4123;
    color: azure;
}
table th{
    background-color: #171010;
}
table{
    background-color: #362222;
    width: 100%;
    border: 1px solid #423F3E;
    border-collapse: collapse;
}
table td{
  border:4px solid black;
}
h1{
    
    text-align: center;
    font-size: 2em;
    color: white;
}
table tr{text-align: center;}
h3{text-align: center;
    color: white;}

    body{
        background-image: url(/assets/img/si.jpeg
        )
    }